# Linkding Configuration
LINKDING_URL=http://localhost:9090
LINKDING_PUBLIC_URL=https://linkding.example.com/
LINKDING_TOKEN=your_linkding_api_token_here
LINKDING_TAGS=2do,reminder,important

# SMTP Configuration
SMTP_HOST=your_smtp_host.com
SMTP_PORT=465
SMTP_USERNAME=your_email@example.com
SMTP_PASSWORD=your_email_password_here
SMTP_SENDER=your_email@example.com
SMTP_RECIPIENT=recipient@example.com
